<footer>
  <p>&copy; 2025. Team1 Only1 Number1 All rights reserved.</p>
</footer>

<style>
  footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 8px 0;
    font-size: 12px;
    width: calc(100% - 3rem);
  }
  @media (min-width: 768px) {
    footer {
      width: calc(100% - 4rem);
      font-size: 14px;
    }
  }
</style>
