---
import "./../styles/task.css";
import { add } from "./../ts/sample.ts";
---

<div id="container">
  <!-- Search -->

  <div class="board-wrap">
    <!-- todo -->
    <div class="board todo">
      <h3>TODO</h3>
      <div class="task-zone">
        <!-- individaul task -->
      </div>
      <div>
        <!-- click this button open modal -->
        <button>Add Task</button>
      </div>
    </div>
    <!-- // todo -->

    <!-- progress -->
    <div class="board progress">
      <h3>PROGRESS</h3>
      <div class="task-zone">
        <!-- individaul task -->
      </div>
      <div>
        <!-- click this button open modal -->
        <button>Add Task</button>
      </div>
    </div>
    <!-- // progress -->

    <!-- done -->
    <div class="board done">
      <h3>DONE</h3>
      <div class="task-zone">
        <!-- individaul task -->
      </div>
      <div>
        <!-- click this button open modal -->
        <button>Add Task</button>
      </div>
    </div>
    <!-- // done -->
  </div>
</div>

<style>
  #container {
    height: calc(100vh - 100px); /* templorary */
  }
  .board-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: 100%; /* templorary */
  }
  .board {
    padding: 8px;
  }
  .board.todo {
    background-color: #f2bd19;
  }
  .board.progress {
    background-color: #f23f41;
  }
  .board.done {
    background-color: #0bbf8e;
  }
  .board h3 {
    color: #fff;
  }
</style>
