---
import "./../styles/modal.css";
import "../ts/Modal.ts"
---

<div class="modal">
    <div class="modal-content">
        <div class="modal-upbar">
            <div class="modal-task">
                <h2 class="modal-task-title">CREATE THE BEST MODAL</h2>
                <p>Task id: #999</p>
            </div>
            <button class="close-modal-btn">&times;</button>
        </div>
        <div class="modal-info">
            <h3 class="details">Details:</h3>
            <p contenteditable="true"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati distinctio repellat accusantium dignissimos nam. Dolorum fuga sit voluptatibus! Unde, culpa!</p>
        </div>
        <div class="modal-buttons">
            <button class="modal-edit-cancel-btn btn"><p>Edit task</p><img src="src/assets/edit.svg" alt=""></button>
            <button class="modal-ok-btn btn">Accept</button>
        </div>
    </div>
</div>

<style>
    .modal{
        color: #000000;
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 90%;
        width: 720px;
        padding: 2rem 7%;
        border-radius: 20px;
        justify-self: center;
    }

    .modal-upbar {
        display: flex;
        justify-content: space-between;
        padding: 0 .5rem .5rem;
        border-bottom: #0069dc solid 1px;
    }

    .modal-upbar p {
        margin: .3rem 0;
        font-size: 12px;
        color: rgb(160, 160, 160);
    }

    .modal-upbar button {
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        max-height: 1.5rem;
        margin-bottom: .5rem;
        margin-left: .7rem;
    }

    .modal-info{
        margin: 1.5rem .5rem 0;
    }

    .modal-info h3 {
        font-size: 14px;
        margin: .3rem 0;
    }

    .modal-info p {
        min-height: 100px;
    }

    .modal-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 1rem;
    }

    .btn {
        width: 125px;
        padding: 1rem 0;
        border-radius: 2rem;
        border: solid 2px black;
    }
    .modal-edit-cancel-btn {
        display: flex;
        justify-content: center;
        border-color: rgb(160, 160, 160);
        color: #646464;
        p {
            display: none;
        }
    }

    .modal-ok-btn {
        background-color: #0069dc;
        color: white;
        border-color: #0069dc;
    }

    @media (min-width: 425px) {
        .modal-buttons {
            flex-direction: row;
            justify-content: space-between;
        }

        .modal-edit-cancel-btn {
            gap: .3rem;
        }

        .modal-edit-cancel-btn p {
            display: block;
            align-self: center;
        }
    }

</style>
