---
import "./../styles/modal.css";
---
<!-- 
<div class="modal">
    <div class="modal-filling">
        <div class="modal-upbar">
            <div class="modal-task">
                <h2 class="modal-task-title">CREATE THE BEST MODAL</h2>
                <p>Task id: #999</p>
            </div>
            <button class="close-modal-btn">&times;</button>
        </div>
        <div class="modal-info">
            <h3 class="details">Details:</h3>
            <p contenteditable="false"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati distinctio repellat accusantium dignissimos nam. Dolorum fuga sit voluptatibus! Unde, culpa!</p>
        </div>
        <div class="modal-buttons">
            <button class="modal-edit-cancel-btn btn"><p>Edit task</p><img src="src/assets/edit.svg" alt=""></button>
            <button class="modal-ok-btn btn">Accept</button>
        </div>
    </div>
</div> -->
