---
import "../styles/global.css";
---

<input type="text" id="search" placeholder="Search tasks..." />
<p id="no-results" style="display: none;">NO TASKS FOUND</p>

<script src="../ts/Saerch.ts"></script>
